{% extends 'layout.twig' %}
{#{% include 'slider.twig' %}#}
{#{% extends 'navbar.html.twig' %}#}
{#{% block body %}#}
  {#<h1>{{title}}</h1>#}
  {#<p>Welcome to {{title}}</p>#}
{#{% endblock %}#}

{#{% block slider %}#}
  {#<h1>This is place for Slider</h1>#}
{#{% endblock %}#}